body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: white;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0;
}

#loginPage {
  width: 300px;
  padding: 20px;
  background-color: #181818;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

#loginPage h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff; 
  font-size: 1.5em; 
}

#loginPage div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ccc; 
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #333; 
  background-color: #202020; 
  color: #fff; 
  border-radius: 4px;
  margin-bottom: 10px;
}

button#logIn {
  width: calc(100% - 20px); 
  padding: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box; 
}

button#logIn:hover {
  background-color: #f40612;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.errorMsg {
  color: #ff0000;
  text-align: center;
  margin-top: 10px; 
  display: none; 
}


#loginPage input[type="text"], 
#loginPage input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    background-color: #202020;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box; 
}



