body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF9F2;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#logoContainer {
  margin-bottom: 30px; /* Space between logo and login box */
}

#logoContainer img {
  max-width: 200px; /* Larger logo size */
  height: auto;
  margin-bottom: 20px;
}

#loginPage {
  width: 350px;
  padding: 30px;
  background-color: rgb(193, 31, 117);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #FFF;
  text-align: center;
}

#loginPage h1 {
  margin-bottom: 25px;
  font-size: 2em;
  color: #FFF;
}

#loginPage div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #FFF;
  font-weight: 600;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #FFF;
  color: #333;
}

button#logIn {
  width: 100%;
  padding: 12px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}

button#logIn:hover {
  background-color: #4A148C;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.errorMsg {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
  display: none;
}

@media (max-width: 768px) {
  #loginPage {
    width: 80%;
    padding: 20px;
  }

  #logoContainer img {
    max-width: 150px; /* Adjust logo size for smaller screens */
  }
}
