body {
    font-family: Arial, sans-serif;
    background-color:white;
    color: white;
    display: flex;
    flex-direction:row; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0;
}
#backImg{
    width: 300px;
    margin: 4%;
}
#container {
    width: 300px;
    padding: 20px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

#container h1 {
    margin-bottom: 20px;
    color:rgb(193, 31, 117); 
    font-size: 1.5em; 
}

#container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333; 
    background-color: #202020; 
    color: #fff; 
    border-radius: 4px;
}

.action-btn {
    width: 48%;
    padding: 10px;
    margin: 5px;
    background-color:goldenrod;
    color:rgb(193, 31, 117);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.action-btn:hover {
    background-color:rgb(38, 38, 141);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

#container input[type="text"], 
#container input[type="password"], 
#container input[type="email"] { 
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    background-color:rgb(193, 31, 117);
    /* color: #fff; */
    color:goldenrod;
    border-radius: 4px;
    box-sizing: border-box; 
}


